/* cart */

.cart h1{
    margin: 26px 0 16px 16px;
    font-family: 'Babylonica';
    font-weight: 100;
  }
  
  .cart-empty{
    text-align: center;
  }
  
  .cart-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 20px;
  }
  
  .cart-bottom *{
    align-self: center;
  }
  
  .cart-bottom button {
    margin: 0 300px;
    background-color:#a70040;
    height: 50px;
    width: 150px; 
    font-size: large;
  }
  
  .cart-products {
    overflow: auto;
    max-height: 480px;
  }
  
  /* cart-previews / list */
  .cart-preview {
    padding: 10px 16px;
    margin: 10px 0;
    border-bottom: 1px solid #fafafa;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .cart-preview *{
    align-self: center;
  }
  
  .cart-preview h2 {
    font-size: 30px;
    color: #f1356d;
    /* margin-bottom: 8px; */
    width: 150px;
    text-align: center;
    font-family: 'Babylonica';
    font-weight: 100;
  }
  
  .cart-preview p {
    width: 50px;
    text-align: center;
  }
  
  .cart-preview img {
    width: 68px;
    height: 100px;
  }
  
  .cart-preview a {
    height: 100px;
  }
  
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
  