@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Beau+Rivage&family=Dancing+Script&family=Ingrid+Darling&family=Lavishly+Yours&family=Qwitcher+Grypen:wght@700&family=Indie+Flower&display=swap');

:root {

  --container-width: 1010px;

  --white-trans: rgba(255, 255, 255, 0.5);
  --white-trans-less: rgba(255, 255, 255, 0.7); 

  --light-brown: rgb(177, 122, 51);
  --dark-brown: rgb(151, 104, 41);
  --darker-brown: rgb(131, 89, 35);
  --dark-brown-trans: rgba(151, 103, 41, 0.356);

  --light-purple-trans: #fcbfdb65;
  --light-purple: #ad366e;
  --dark-purple: #9b0048;
  --darker-purple: #770138;
  
}

body {
  background-image: url('../assets/img/baking-background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-align: justify;
}

*:focus-visible:not(.swal2-styled, .search-form *) {
  outline: none;
  border: 2px solid var(--dark-brown-trans);
}

.loading {
  margin: 26px;
}

h1 {
  font-size: 50px;
  margin: 26px;
  color:var(--dark-purple);
  font-family: 'Babylonica';
  /* font-family: 'Beau Rivage'; */
  /* font-family: 'Ingrid Darling'; */
  /* font-family: 'Lavishly Yours'; */
  font-weight: 100;
}

h2 {
  font-family: 'Babylonica';
  font-weight: 100;
}

button {
  background: var(--light-purple);
  border: solid 1px var(--light-purple);
  color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

button:hover:not(.swal-button, .swal2-styled, .search-submit){
  background: var(--darker-purple);
}

button:active:not(.swal-button, .swal2-styled, .search-submit) {
  background: var(--light-purple-trans);
  color: var(--light-purple);
  border: solid 1px var(--light-purple);
}

img {
  border-radius: 10px;
}

.error {
  display: flex;
  font-size: larger;
  color: gray;
  margin-top: 40px;
}

.error p {
  margin: auto;
}

.error p span {
  font-weight: bold;
}

/* content (all pages below Navbar) */

.white-container {
  background: var(--white-trans);
  max-width: var(--container-width);
  margin: 0 auto;  
  padding: 0 20px;
}

.content {
  /* max-width: 1010px; */
  margin: 40px 0;  
  min-height: 700px;
  padding: 20px 0;
}

/* page not found */

.not-found * {
  font-family: "Quicksand";
  margin: 20px;
}

.no-access {
  font-family: "Quicksand";
}
