.home .home-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 26px;
  min-height: 45px;
}

.home .icon {
  text-align: center;
  font-size: 30px;
  transition: all 0.3s ease;
}

.home .icon:hover {
  margin-right: -5px;
  font-size: 40px;
}

.home .icon *{
  color: var(--light-brown);
}

.home .icon:hover *{
  color: var(--dark-brown);
}

.products {
  display: flex;
  flex-flow: row wrap;
}

.product-preview {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.product-preview .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-preview img {
  width: 150px;
  height: 220px;
}

.product-preview h2 {
  margin-bottom: 8px;
  text-align: center;
  max-width: 150px;
  /* font-family: 'Babylonica'; */
  font-family: 'Indie Flower';
  /* font-family: 'Beau Rivage'; */
  /* font-family: 'Ingrid Darling'; */
  /* font-family: 'Quicksand'; */
  /* font-family: 'Lavishly Yours'; */
  /* font-weight: bold; */
  font-size:larger;
}

.product-preview .price {
  text-align: center;
}

.product-preview a {
  text-decoration: none;
  padding: 10px 16px;
  margin: 10px;
}

.product-preview a:hover {
  box-shadow: 1px 3px 5px var(--dark-brown-trans);
}