
/***** user page component ******/ 

.user-page {
    display: flex;
    justify-content: space-around;
  }
  
  .user-page > *{
    width: 420px;
    padding: 10px;
    box-shadow: -10px 30px 20px rgba(167, 8, 69, 0.1);
  }
  
  .user-page * {
    text-align: center;
  
    /* in case user name is too long */
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .user-page h1, .user-page h2  {
    font-family: 'Lavishly Yours';
  }
  
  .user-page h2 {
    font-size: 2em;
    color: #9b0048 !important;
    margin: 40px 0 15px;
  }
  
  .name-and-address {
    margin: 40px;
  }
  
  .name-and-address * {
    margin: 15px;
  }
  
  .user-page button {
    margin: 26px;
    width: 150px;
    background-color: #a80250c9;
    font-weight: bold;
  }
  
  .user-page a:hover{
    color: #f1356d;
  }
  
  /********* user orders component *********/
  
  .user-orders{
    overflow: auto;
    height: 615px;
  }
  
  .order-preview{
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #fafafa;
    cursor: pointer;
  }
  
  .order-preview *{
    text-align: center;
  }
  
  .order-preview .order-products{
    max-height: 0;
    overflow: auto;
    transition: max-height 2s ease-out;
  }
  
  .order-preview .each-order {
    display: flex;
  }
  
  .order-preview .each-order *{
    margin: 10px;
  }
  
  .order-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .order-preview *{
    align-self: center;
  }
  
  .order-preview img {
    width: 42px;
    height: 62px;
  }
  
  #forgot-password {
    color: #2196f3;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
  
  #forgot-password:hover {
    color: #2c82c9;
  }
  
  /* all-users list */
  .admin * {
    color: #9b0048;
    font-weight: bold;
  }
