

.user-details-container, .user-orders-container {
  background: white;
}

.user-page {
  display: flex;
  justify-content: space-around;
}

.user-page > *{
  width: 420px;
  padding: 10px;
  box-shadow: -10px 30px 20px rgba(167, 8, 69, 0.1);
}

.user-page * {
  text-align: center;

  /* in case user name is too long */
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-page h1, .user-page h2  {
  font-family: 'Lavishly Yours';
}

.user-page h2 {
  font-size: 2em;
  color: var(--dark-purple) !important;
  margin: 40px 0 15px;
}

.name-and-address {
  margin: 40px;
}

.name-and-address * {
  margin: 15px;
}

.user-page button {
  margin: 26px;
  width: 150px;
  font-weight: bold;
}