@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-align: justify;
}

h1 {
  font-size: 50px;
  margin: 26px;
  color:#9b0048;
}

.navbar {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 1010px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar img {
  width: 130px;
  height: 75px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 30px;
  text-decoration: none;
  padding: 6px;
  font-size: 22px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 1010px;
  margin: 40px auto;
  padding: 0 20px;
}


/* product-previews / list */

.products {
  display: flex;
  /* justify-content: center; */
  flex-flow: row wrap;
}

/* .product-list h1 {
  font-size: 50px;
  margin: 26px;
  color:#9b0048;
} */

.product-preview {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.product-preview img {
  width: 150px;
  height: 220px;
}

.product-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  text-align: center;
  max-width: 150px;
}

.product-preview p {
  text-align: center;
}

.product-preview a {
  text-decoration: none;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  margin: 10px;
}

.product-preview a:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

/* cart-previews / list */
.cart-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.cart-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.cart-preview  {
  display: flex;
  justify-content: space-between;
}

.cart-preview *{
  align-self: center;
}

.cart-preview h2 {
  font-size: 20px;
  color: #f1356d;
  /* margin-bottom: 8px; */
  width: 150px;
  text-align: center;
}

.cart-preview p {
  width: 50px;
  text-align: center;
}

.cart-preview img {
  width: 82px;
  height: 120px;
}

.cart-preview a {
  height: 120px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

/* product details page */
.product-details  {
  text-align: justify;
}

.details-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.details {
  padding-right: 150px;
}

.product-details h1 {
  font-size: 50px;
  color: #9b0048;
  margin-left: 0;
}

.product-details div {
  margin: 20px 0;
}

.product-details p {
  margin: 20px 0;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.cart-preview button:hover, .product-preview button:hover {
  background: #b12750;
  color: rgb(236, 232, 232);
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

button:active {
  background: #df3165;
}

.product-details img {
  width: 350px;
  height: 500px;
}

/* search */
.search form {
  margin: 26px;
}

.search label {
  margin-right:15px;
}

.cart-bottom {
  margin-top: 100px;
  margin-bottom: 200px;
}
