@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-align: justify;
}


h1 {
  font-size: 50px;
  margin: 26px;
  color:#9b0048;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

button:hover:not(.swal-button, .swal2-styled){
  background: #b12750;
  color: rgb(236, 232, 232);
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

button:active:not(.swal-button, .swal2-styled) {
  background: #df3165 !important;
}

img {
  border-radius: 10px;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #e2209898;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bb197d98; 
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 1010px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  top: 0;
}

.navbar img {
  width: 130px;
  height: 75px;
}

.navbar .links, .sign-out {
  margin-left: auto;
  display: flex;
}

.navbar .links a {
  margin-left: 30px;
  text-decoration: none;
  padding: 6px;
  font-size: 22px;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar .links .sign-out * {
  align-self: center;
}

.navbar .links .sign-out #name {
  margin-left: 5px;
}

.navbar .links .sign-out #admin {
  font-size: 15px;
  margin-bottom: 8px;
  align-self: flex-end;
}


/* content (all pages below Navbar) */
.content {
  max-width: 1010px;
  margin: 40px auto;
  padding: 0 20px;
}

.product-list h1, .product-list h2 {
  font-family: 'Beau Rivage';
  font-weight: 100;
}

/* product-previews / list */

.products {
  display: flex;
  /* justify-content: center; */
  flex-flow: row wrap;
}

.product-preview {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.product-preview img {
  width: 150px;
  height: 220px;
}

.product-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  text-align: center;
  max-width: 150px;
}

.product-preview p {
  text-align: center;
}

.product-preview a {
  text-decoration: none;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  margin: 10px;
}

.product-preview a:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

/* cart */

.cart h1{
  margin: 26px 0 16px 16px;
}

.cart-empty{
  text-align: center;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 80px;
}

.cart-bottom *{
  align-self: center;
}

.cart-bottom button {
  margin: 0 300px;
  background-color:#a70040;
  height: 50px;
  width: 150px; 
  font-size: large;
}

.cart-products {
  overflow: auto;
  max-height: 534px;
}

/* cart-previews / list */
.cart-preview {
  padding: 10px 16px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
  display: flex;
  justify-content: space-between;
}

.cart-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.cart-preview *{
  align-self: center;
}

.cart-preview h2 {
  font-size: 20px;
  color: #f1356d;
  /* margin-bottom: 8px; */
  width: 150px;
  text-align: center;
}

.cart-preview p {
  width: 50px;
  text-align: center;
}

.cart-preview img {
  width: 68px;
  height: 100px;
}

.cart-preview a {
  height: 100px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

/* product details page */


.product-page  {
  text-align: justify;
}

.product-page h1 {
  font-size: 50px;
  color: #9b0048;
  margin-left: 0;
  font-family: 'Beau Rivage';
  font-weight: 100;
}

.product-page div {
  margin: 20px 0;
}

.product-page p {
  margin: 20px 0;
}

.product-page .details-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.product-page .details-container .details {
  /* padding-right: 150px; */
  width: 450px;
}


.product-page .image-container{
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.product-page .image-container img {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}

.zoom-out-image {
  width: 350px;
  height: 500px;
  cursor: zoom-in;
}

.zoom-in-image {
  transform: scale(2);
  cursor: zoom-out;
  left: 40%;
  /* position: absolute; */
}

/* search */
.search form {
  margin: 26px;
}

.search label {
  margin-right:15px;
}

/* Swal2: sign up buttons */

.swal2-actions {
  /* height: 150px; */
  display: flex;
}
.swal2-actions *:not(.footer-div) {
  align-self: flex-start;
  margin-bottom: 15px;
}

.swal2-actions .footer-div{
  /* position: absolute; */
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}

.swal2-actions .footer-div * {
  align-self: center;
  margin: 8px;
}

/***** user page component ******/ 

.user-page {
  display: flex;
  justify-content: space-around;
}

.user-page > *{
  width: 420px;
  padding: 10px;
  box-shadow: -10px 30px 20px rgba(167, 8, 69, 0.1);
}

.user-page * {
  text-align: center;

  /* in case user name is too long */
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-page h2 {
  color: #9b0048 !important;
}

.user-orders-container h2{
  margin: 40px 0 15px;
}

.name-and-address {
  margin: 40px;
}

.name-and-address * {
  margin: 15px;
}

.user-page button {
  margin: 26px;
  width: 150px;
  background-color: #a80250c9;
  font-weight: bold;
}

.user-page a:hover{
  color: #f1356d;
}

/********* user orders component *********/

.user-orders{
  overflow: auto;
  height: 615px;
}

.order-preview{
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid #fafafa;
  cursor: pointer;
}

.order-preview *{
  text-align: center;
}

.order-preview .order-products{
  max-height: 0;
  overflow: auto;
  transition: max-height 2s ease-out;
}

.order-preview .each-order {
  display: flex;
}

.order-preview .each-order *{
  margin: 10px;
}

.order-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.order-preview *{
  align-self: center;
}

.order-preview img {
  width: 42px;
  height: 62px;
}

#forgot-password {
  color: #2196f3;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

#forgot-password:hover {
  color: #2c82c9;
}

/* all-users list */
.admin * {
  color: #9b0048;
  font-weight: bold;
}

/* page not found */
.not-found * {
  margin: 20px;
}
